<!--import ettikten sonra sanki bir html etiketi gibi burada kullanabiliyorum-->
<app-navbar></app-navbar>

<p>Counter: {{ counter }}</p>
<h1>Hello, {{ title }}</h1>
<button (click)="onButtonClick()">Arttır</button>

<!--Angular 17'den önce-->
<!-- *ngIf -->
<p *ngIf="counter > 5; else counterElse">
  <!--Structual Directives: * ile başlayan directive'ler bizim için yapısal directive'lerdir.-->
  <!--Bu element'in render'lanmasını ele alıyor ve yönetiyor.-->
  Sayaç 5'den büyük.
</p>
<!--Else için aşağıdaki gibi bir template vermem lazım-->
<!--Else if yok. Ama onun için de aşağıda yeni bir if bloğu açabilirim-->
<ng-template #counterElse>
  <p *ngIf="counter === 5; else counterElseElse">Sayaç 5'e eşit.</p>

  <ng-template #counterElseElse>
    <p>Sayaç 5'ten küçük.</p>
  </ng-template>

</ng-template>

<!--ng-template: Sadece özel olarak çağırılarak renderlanabilen, bir template'i kapsayan angular elementidir.-->

<!--ng-container: Angular tarafından renderlanmayan bir elementtir. Sadece içerisindeki elementleri renderlamak için kullanılır.-->
<!--Yani HTML içinde kendisini görmeyiz.-->

<!--Angular 17'den sonra-->
<!--Ya da aşağıdaki gibi de kullanabiliriz.-->
@if (counter > 5) {
  <p>Sayaç 5'den büyüktür.</p>
}@else if (counter === 5) {
  <p>Sayaç 5'e eşit.</p>
}@else {
  <p>Sayaç </p>
}

<hr>

<!--ng-contoiner: Sadece angular tarafında olan bir etikettir. Html tarafında bir çıktısı yoktur.-->

ngFor:
<ul>
  <ng-container *ngFor="let product of products">
    <li *ngIf="!product.discontinued">
        {{product.name}} - {{product.price}}
    </li>

  </ng-container>
</ul>

<!-- getFilteredProducts kullanarak; -->
<!-- TypeScript tarafaında yapılan filtreleme ile -->

<ul>
  <li *ngFor="let product of filteredProducts">
    {{product.name}} - {{product.price}}
  </li>
</ul>

<!-- > Angular 17 -->
{{'@for:'}}

<ul>
  @for (product of products; track $index) {
    @if (!product.discontinued) {
      <li>{{product.name}} - {{product.price}}</li>
    }
  }
</ul>

<hr> <!-- Sayfayı düz çizgi ile böler -->

<!-- Switch-case -->
ngSwitch
<ng-container [ngSwitch]="counter">
<p *ngSwitchCase = "5">Sayaç 5'e eşit.</p>
<p *ngSwitchCase = "10">Sayaç 10'e eşit.</p>
<p *ngSwitchDefault >Sayaç 5 ve 10'a eşit değil.</p>
</ng-container>

<!-- > Angular 17 -->
{{'@switch:'}}
@switch (counter) {
  @case (5) {
    <p>Sayaç 5'e eşit.</p>
  }
  @case (10) {
    <p>Sayaç 10'a eşit.</p>
  }
  @default {
    <p>Sayaç 5 ve 10'a eşit değil.</p>
  }
}


<app-footer></app-footer>
